Person Add
  



  
<div class="example-loading-shade"
     *ngIf="">
  


  
    
      <input matInput placeholder="Person FirstName" formControlName="person_firstname"
            >
      
        Please enter Person FirstName
      
    
    
      <input matInput placeholder="Person LastName" formControlName="person_lastname"
           >
      
        Please enter Person LastName
      
    
    
      <input matInput placeholder="person age" formControlName="person_age"
             >
      
        Please enter Person Age
      
    
    
      save